<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ "/" | relative_url }}">
          {{ site.title }}
        </a>
      </h1>
      <img src="https://lh3.googleusercontent.com/-kQVHrlwUp3Y/X51q2Hv3JRI/AAAAAAAAZ0U/s44GFNJ0Gig-s5uA0xuAv-8i7aFPz-2nQCEwYBhgLKtMDABHVOhyZnBw4cYt7qlxWM_3JLKZIxsMdXNsds9215UJxUG9vAEbTwErX7GZRhuBNKyOVPaOj0Lzp3aUYg7hEeCX1aY9NZHqW1_NsQxUwaqrdyhcsvKa7q0v7UUQzgV69f4a5dqysyTqLZrdM8j3-2JQDvgFKiXZRzx1ZxeqrQbQsqdT0RPjW3yy8eDaiAi2QFyjTjjnWO9t9K39lEIhqpH5fcS1A0xQmEPH9PpXQXNbG1riFzSWe7rcc_os1XmYEyWG6Kv0F8r2SuQ5qPEqJbbJMCDdkhZTTEHzNC_ABzFA99fnXpyYHQPHEHBCO-zMP-qnUY1-Kr5NlxHD1oOkneh6CZGZ7SGVtFXoVIc1hFyzOoh9MSe-08g1z8cUiczBc_tjPDiGPW-CISuNK7obyC-en9oML2pdm8qrvEU9nH7TmHj7WpfatzUNTYt0tuWcuR2n6Xk2lf2K_Qw7Ea-gnEdcqybFjD5fKjoGJNjWC9L6BmrNcvSLa18TcPmxGhUIKAG7CCP6l87YS_9cxFcOJEdYECLlSNx4qAApSLAAxZXLlO1nFpUC_4XMKAWlPy108GRpKwe6octX9Zmq1l9wwB-KIPtZm3-w_bHM0bv4vujrSzhcw8OP9hQY/w140-h140-p/stalk.jpg" alt="Margot Déage"/>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

    </nav>
  </div>
</div>
